main {
  display: flex;
  flex-direction: column;
  background: $background-color;

  .hero {
    margin-bottom: 16px;
  }
  .header-1 {
    @include setHeader($primary-color);
    margin-bottom: -40px;
  }
  .header-2 {
    @include setHeader($accent-orange);
  }
  p {
    color: $text-muted;
    font-family: "Inter";
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    margin: 0 auto;
  }
  .take-quiz {
    @include setCTAs($primary-color, white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .quiz-list {
    color: $primary-color;
    font-weight: 600;
  }
  .dashboard {
    background: $background-color;
    padding: 20px;
    .title {
      font-family: "Space Grotesk";
    }
  }

  .create-quiz {
    @include setCTAs($accent-yellow, $primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
